body {
  font: 16px/20px Roboto;
}

html,body,ul,li,div,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

.centered {
  text-align: center;
}

.page1 {
  background: #1abc9c;
}

.page2 {
  background: #e67e22;
}

.page3 {
  background: #34495e;
}

.page4 {
  background: #1abc9c;
}

